PORT=
ENV=
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=
MONGO_DB_NAME=
MONGO_DB_HOST=
MONGO_DB_PORT=
MONGO_DB_PROTOCOL=
MONGO_DB_ATLAS=
API_JWT_PASSPHRASE=
API_JWT_PRIVATE_KEY=
API_JWT_PUBLIC_KEY=
AES_ENCRYPTION_SALT=
AES_ENCRYPTION_IV=
GOOLGE_PROJECT_ID=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOLGE_OAUTH_REDIRECT_URIS=
GOOGLE_OAUTH_SCOPES=
OPEN_AI_API_URL=
OPEN_AI_API_KEY=
CLIENT_URL=
SEVENTEEN_TRACK_API_TOKEN=
REDIS_URL=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE_CONNECTION=
EMAIL_SERVICE=